<!doctype html>
<!--
A minimal HTML template to wrap the content for textutil HTML to RTF conversion.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Resize Window README</title>
    <meta name="description" content="Resize Window is an AppleScript for Mac OS X that quickly resizes the frontmost window of any application to some common sizes, custom sizes, and increments." />
    <meta name="keywords" content="applescript" />
    <!-- Non-standard metatags for textutil HTML to RTF conversion -->
    <meta name="author" content="Steve Wheeler" />
    <meta name="subject" content="AppleScript" />
    <meta name="company" content="Jazzhead Design (jazzheaddesign.com)" />
    <meta name="copyright" content="© 2014-2015 Steve Wheeler. All rights reserved." />
    <!-- Mostly ignored by textutil, but font-family and font-size work -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<%= @body %>
</body>
</html>
